*{ margin: 0;
   padding: 0;
}
header img{ width:150px;

}
header{
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
header a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: tomato;
    padding: 10px;
    border-radius: 30px;


}
main img{
    

}
h1{
    color: red;
}
div{ 
    
}
footer{
padding: 30px;
 background-color: rgb(85, 85, 85);
 color: rgb(0, 0, 0);
 text-align: center;
}
.product{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}h1{
    text-align: center;
}
p{
    background-color: rgb(255, 210, 173);
}
